<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

    <!-- 开发控制台打印日志 -->
    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/${tomcat_app_base}/em.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>/${tomcat_app_base}/em.%d{yyyy-MM-dd}-%i.log</FileNamePattern>
            <maxHistory>30</maxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>200MB</maxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <layout>
            <Pattern>%-20(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{32} - %msg%n</Pattern>
        </layout>
    </appender>

    <root level="WARN">
        <appender-ref ref="FILE"/>
    </root>


</configuration>